name = "bookmark-navigation"
compatibility_date = "2026-02-20"
main = "worker.js"
workers_dev = true

[[d1_databases]]
binding = "NAV_DB"
database_name = "nav-database"
database_id = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

[[kv_namespaces]]
binding = "NAV_AUTH"
id = "yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy"

[vars]
ENABLE_PUBLIC_SUBMISSION = "true"
